# Xmake cache
.xmake/
build/

# MacOS Cache
.DS_Store

CMakeLists.txt.user
CMakeLists.txt
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
debug/*
.idea/*
out/*
.vscode/*
.vs/*
.cache/*


